In [1]:
from IPython.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [2]:
import seaborn as sns

In [3]:
iris = sns.load_dataset("iris")

In [4]:
iris_grouped = iris.groupby(by=iris.species)

In [5]:
iris_grouped

In [6]:
iris_grouped.mean()

            sepal_length  sepal_width  petal_length  petal_width
species
setosa             5.006        3.428         1.462        0.246
versicolor         5.936        2.770         4.260        1.326
virginica          6.588        2.974         5.552        2.026

In [7]:
import numpy as np

In [8]:
iris["num"] = np.ravel([[i]*25 for i in range(6)])

In [9]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species  num
0           5.1          3.5           1.4          0.2  setosa    0
1           4.9          3.0           1.4          0.2  setosa    0
2           4.7          3.2           1.3          0.2  setosa    0
3           4.6          3.1           1.5          0.2  setosa    0
4           5.0          3.6           1.4          0.2  setosa    0

In [10]:
iris.tail()

     sepal_length  sepal_width  petal_length  petal_width    species  num
145           6.7          3.0           5.2          2.3  virginica    5
146           6.3          2.5           5.0          1.9  virginica    5
147           6.5          3.0           5.2          2.0  virginica    5
148           6.2          3.4           5.4          2.3  virginica    5
149           5.9          3.0           5.1          1.8  virginica    5

In [11]:
iris_grouped2 = iris.groupby(by=[iris.species, iris.num])

In [12]:
iris_grouped2.mean()

                sepal_length  sepal_width  petal_length  petal_width
species    num
setosa     0           5.028        3.480         1.460        0.248
           1           4.984        3.376         1.464        0.244
versicolor 2           6.012        2.776         4.312        1.344
           3           5.860        2.764         4.208        1.308
virginica  4           6.576        2.928         5.640        2.044
           5           6.600        3.020         5.464        2.008

In [13]:
for type, group in iris_grouped:
    print(type)

setosa
versicolor
virginica

In [14]:
for type, group in iris_grouped:
    print(group.head())

   sepal_length  sepal_width  petal_length  petal_width species  num
0           5.1          3.5           1.4          0.2  setosa    0
1           4.9          3.0           1.4          0.2  setosa    0
2           4.7          3.2           1.3          0.2  setosa    0
3           4.6          3.1           1.5          0.2  setosa    0
4           5.0          3.6           1.4          0.2  setosa    0
    sepal_length  sepal_width  petal_length  petal_width     species  num
50           7.0          3.2           4.7          1.4  versicolor    2
51           6.4          3.2           4.5          1.5  versicolor    2
52           6.9          3.1           4.9          1.5  versicolor    2
53           5.5          2.3           4.0          1.3  versicolor    2
54           6.5          2.8           4.6          1.5  versicolor    2
     sepal_length  sepal_width  petal_length  petal_width    species  num
100           6.3          3.3           6.0          2.5  virginica    4
101           5.8          2.7           5.1          1.9  virginica    4
102           7.1          3.0           5.9          2.1  virginica    4
103           6.3          2.9           5.6          1.8  virginica    4
104           6.5          3.0           5.8          2.2  virginica    4

In [15]:
# iris_grouped.iloc[0,] # 'DataFrameGroupBy' object has no attribute 'iloc'

In [16]:
# iris_grouped.loc[0,] # 'DataFrameGroupBy' object has no attribute 'loc'

In [17]:
iris_grouped.take([1,2,3])

                sepal_length  sepal_width  petal_length  petal_width
species
setosa     1             4.9          3.0           1.4          0.2
           2             4.7          3.2           1.3          0.2
           3             4.6          3.1           1.5          0.2
versicolor 51            6.4          3.2           4.5          1.5
           52            6.9          3.1           4.9          1.5
           53            5.5          2.3           4.0          1.3
virginica  101           5.8          2.7           5.1          1.9
           102           7.1          3.0           5.9          2.1
           103           6.3          2.9           5.6          1.8

In [18]:
iris_grouped.take([0,1,2])

                sepal_length  sepal_width  petal_length  petal_width
species
setosa     0             5.1          3.5           1.4          0.2
           1             4.9          3.0           1.4          0.2
           2             4.7          3.2           1.3          0.2
versicolor 50            7.0          3.2           4.7          1.4
           51            6.4          3.2           4.5          1.5
           52            6.9          3.1           4.9          1.5
virginica  100           6.3          3.3           6.0          2.5
           101           5.8          2.7           5.1          1.9
           102           7.1          3.0           5.9          2.1