In [1]:
from IPython.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [2]:
from pandas import Series, DataFrame

In [3]:
fruits = Series([2500, 3800, 1200, 6000],
                index=['apple', 'banana', 'pear', 'cherry'])

In [4]:
fruits

apple     2500
banana    3800
pear      1200
cherry    6000
dtype: int64

In [5]:
fruits.values

array([2500, 3800, 1200, 6000], dtype=int64)

In [6]:
fruits.index

Index(['apple', 'banana', 'pear', 'cherry'], dtype='object')

In [7]:
fruit_dic = {'apple':2500, 'banana':3800, 'pear':1200,
             'cherry':6000}

In [8]:
type(fruit_dic)

dict

In [9]:
fruits = Series(fruit_dic)

In [10]:
type(fruits)

pandas.core.series.Series

In [11]:
fruits

apple     2500
banana    3800
pear      1200
cherry    6000
dtype: int64

In [12]:
fruits.values

array([2500, 3800, 1200, 6000], dtype=int64)

In [13]:
fruits.index

Index(['apple', 'banana', 'pear', 'cherry'], dtype='object')

In [14]:
fruits

apple     2500
banana    3800
pear      1200
cherry    6000
dtype: int64

In [15]:
fruits.drop('banana')

apple     2500
pear      1200
cherry    6000
dtype: int64

In [16]:
fruits.drop('banana', inplace=True)

In [17]:
fruits

apple     2500
pear      1200
cherry    6000
dtype: int64

In [18]:
fruits[:]

apple     2500
pear      1200
cherry    6000
dtype: int64

In [19]:
fruits[0:2]

apple    2500
pear     1200
dtype: int64

In [20]:
fruits['apple':'pear']

apple    2500
pear     1200
dtype: int64

In [21]:
fruits1 = Series([5,9,10,3], index=['apple', 'banana',
                                    'cherry', 'pear'])

In [22]:
fruits2 = Series([3,2,9,5,10], index=['apple', 'orange',
                            'banana', 'cherry', 'mango'])

In [23]:
fruits1

apple      5
banana     9
cherry    10
pear       3
dtype: int64

In [24]:
fruits2

apple      3
orange     2
banana     9
cherry     5
mango     10
dtype: int64

In [25]:
fruits1 + fruits2

apple      8.0
banana    18.0
cherry    15.0
mango      NaN
orange     NaN
pear       NaN
dtype: float64

In [26]:
fruits = Series([2500, 3800, 1200, 6000],
                index=['apple','banana','pear','cherry'])

In [27]:
fruits.sort_values(ascending=False)

cherry    6000
banana    3800
apple     2500
pear      1200
dtype: int64

In [28]:
fruits.to_frame()

           0
apple   2500
banana  3800
pear    1200
cherry  6000

In [29]:
fruits.to_frame().T

   apple  banana  pear  cherry
0   2500    3800  1200    6000