In [1]:
from IPython.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [2]:
import pandas as pd

In [3]:
d = [{'col1':1, 'col2':3}, {'col1':2, 'col2':4}]

In [4]:
pd.DataFrame(data=d)

   col1  col2
0     1     3
1     2     4

In [5]:
d = [{'col1':1, 'col2':3}, {'col1':2, 'col2':4},
     {'col1':2}]

In [6]:
pd.DataFrame(d)

   col1  col2
0     1   3.0
1     2   4.0
2     2   NaN

In [7]:
L1 = [1,2,3,4,5]
L2 = [6,7,8,9,10]

In [8]:
pd.DataFrame({'col1':L1, 'col2':L2})

   col1  col2
0     1     6
1     2     7
2     3     8
3     4     9
4     5    10

In [9]:
import numpy as np

In [10]:
pd.DataFrame(np.c_[L1, L2], columns=['col1', 'col2'])

   col1  col2
0     1     6
1     2     7
2     3     8
3     4     9
4     5    10

In [11]:
from sklearn import datasets

In [12]:
iris_dic = datasets.load_iris()

In [13]:
type(iris_dic)

sklearn.utils._bunch.Bunch

In [14]:
print(iris_dic.target_names)

['setosa' 'versicolor' 'virginica']

In [15]:
X = pd.DataFrame(iris_dic.data, 
                 columns=iris_dic.feature_names)

In [16]:
X

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [17]:
iris_dic.target_names[[0,0,1,1,2,2,2,2]]

array(['setosa', 'setosa', 'versicolor', 'versicolor', 'virginica',
       'virginica', 'virginica', 'virginica'], dtype='<U10')

In [18]:
y = pd.DataFrame(iris_dic.target_names[iris_dic.target],
                 columns=['species'])

In [19]:
y

       species
0       setosa
1       setosa
2       setosa
3       setosa
4       setosa
..         ...
145  virginica
146  virginica
147  virginica
148  virginica
149  virginica

[150 rows x 1 columns]

In [20]:
iris = pd.concat([X, y], axis=1)

In [21]:
iris.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
0,5.1,3.5,1.4,0.2,setosa
1,4.9,3.0,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa
3,4.6,3.1,1.5,0.2,setosa
4,5.0,3.6,1.4,0.2,setosa

In [22]:
import statsmodels.api as sm

In [23]:
iris_data = sm.datasets.get_rdataset("iris", 
                                     package="datasets",
                                     cache=True)

In [24]:
type(iris_data)

statsmodels.datasets.utils.Dataset

In [25]:
iris_data.data

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [26]:
import seaborn as sns

In [27]:
iris = sns.load_dataset("iris")

In [28]:
type(iris)

pandas.core.frame.DataFrame

In [29]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [30]:
iris['sepal_length']

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: sepal_length, Length: 150, dtype: float64

In [31]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [32]:
iris.to_csv("iris.csv", sep=',', mode='w', 
            encoding='utf-8')

In [33]:
iris.to_csv("iris2.csv", sep=',', mode='w', 
            encoding='utf-8', index=False)

In [34]:
iris.to_csv("iris3.csv.gz", sep=',', mode='w', 
            encoding='utf-8', index=False,
            compression='infer')

In [35]:
del iris

In [36]:
iris

NameError: name 'iris' is not defined

In [37]:
iris = pd.read_csv("iris2.csv", sep=',')

In [38]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [39]:
iris = pd.read_csv("iris2.csv", skiprows=[0,2])
iris.head()

   5.1  3.5  1.4  0.2  setosa
0  4.7  3.2  1.3  0.2  setosa
1  4.6  3.1  1.5  0.2  setosa
2  5.0  3.6  1.4  0.2  setosa
3  5.4  3.9  1.7  0.4  setosa
4  4.6  3.4  1.4  0.3  setosa