In [1]:
from IPython.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [2]:
import pandas as pd
pd.__version__

'2.1.4'

In [3]:
import seaborn as sns

In [4]:
iris = sns.load_dataset("iris")

In [5]:
iris.drop(0, axis=0, inplace=True)

In [6]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
5           5.4          3.9           1.7          0.4  setosa

In [7]:
# iris.drop(0, axis=0, inplace=True) # 0번 행 없음

In [8]:
iris.drop("species", axis=1).head()

   sepal_length  sepal_width  petal_length  petal_width
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2
5           5.4          3.9           1.7          0.4

In [9]:
iris = sns.load_dataset("iris")

In [10]:
iris.species

0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
         ...
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: species, Length: 150, dtype: object

In [11]:
iris["species"]

0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
         ...
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: species, Length: 150, dtype: object

In [12]:
iris.year = 2020

In [13]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [14]:
iris.year

2020

In [15]:
iris["year"] = 2020

In [16]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species  year
0           5.1          3.5           1.4          0.2  setosa  2020
1           4.9          3.0           1.4          0.2  setosa  2020
2           4.7          3.2           1.3          0.2  setosa  2020
3           4.6          3.1           1.5          0.2  setosa  2020
4           5.0          3.6           1.4          0.2  setosa  2020

In [17]:
# iris["no1"] = [1,2,3] # 개수가 맞시 않음

In [18]:
iris["no2"] = [10,20,30] + [None]*147

In [19]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species  year   no2
0           5.1          3.5           1.4          0.2  setosa  2020  10.0
1           4.9          3.0           1.4          0.2  setosa  2020  20.0
2           4.7          3.2           1.3          0.2  setosa  2020  30.0
3           4.6          3.1           1.5          0.2  setosa  2020   NaN
4           5.0          3.6           1.4          0.2  setosa  2020   NaN

In [20]:
iris["no3"] = None

In [21]:
iris.head()

,sepal_length,sepal_width,petal_length,petal_width,species,year,no2,no3
0,5.1,3.5,1.4,0.2,setosa,2020,10.0,None
1,4.9,3.0,1.4,0.2,setosa,2020,20.0,None
2,4.7,3.2,1.3,0.2,setosa,2020,30.0,None
3,4.6,3.1,1.5,0.2,setosa,2020,NaN,None
4,5.0,3.6,1.4,0.2,setosa,2020,NaN,None

In [22]:
iris.loc[0:2, "no3"] = [10,20,30]

In [23]:
iris.head()

,sepal_length,sepal_width,petal_length,petal_width,species,year,no2,no3
0,5.1,3.5,1.4,0.2,setosa,2020,10.0,10
1,4.9,3.0,1.4,0.2,setosa,2020,20.0,20
2,4.7,3.2,1.3,0.2,setosa,2020,30.0,30
3,4.6,3.1,1.5,0.2,setosa,2020,NaN,None
4,5.0,3.6,1.4,0.2,setosa,2020,NaN,None

In [24]:
import pandas as pd

In [25]:
new_data = pd.Series([10,20,30], index=[0,1,2])

In [26]:
new_data

0    10
1    20
2    30
dtype: int64

In [27]:
iris["no4"] = new_data

In [28]:
iris.head()

,sepal_length,sepal_width,petal_length,petal_width,species,year,no2,no3,no4
0,5.1,3.5,1.4,0.2,setosa,2020,10.0,10,10.0
1,4.9,3.0,1.4,0.2,setosa,2020,20.0,20,20.0
2,4.7,3.2,1.3,0.2,setosa,2020,30.0,30,30.0
3,4.6,3.1,1.5,0.2,setosa,2020,NaN,None,NaN
4,5.0,3.6,1.4,0.2,setosa,2020,NaN,None,NaN

In [29]:
iris = sns.load_dataset("iris")

In [30]:
row1 = {"sepal_length":10, "sepal_width":5,
        "petal_length":20, "petal_width":10,
        "species":"setosa"}

In [31]:
row1

{'sepal_length': 10,
 'sepal_width': 5,
 'petal_length': 20,
 'petal_width': 10,
 'species': 'setosa'}

In [32]:
pd.DataFrame([row1]).head()

   sepal_length  sepal_width  petal_length  petal_width species
0            10            5            20           10  setosa

In [33]:
# iris.append(row1, ignore_index=True).tail() # append는 pandas 2.0부터 사라짐
new_iris = pd.concat([iris, pd.DataFrame([row1])], ignore_index=True)
new_iris.tail()

     sepal_length  sepal_width  petal_length  petal_width    species
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica
150          10.0          5.0          20.0         10.0     setosa

In [34]:
new_row = pd.Series([1,2,3,4,"versicolor"], 
                    index=iris.columns)

In [35]:
new_row

sepal_length             1
sepal_width              2
petal_length             3
petal_width              4
species         versicolor
dtype: object

In [36]:
# iris.append(new_row, ignore_index=True)
new_iris = pd.concat([iris, new_row.to_frame().T], ignore_index=True)
new_iris.tail()

    sepal_length sepal_width petal_length petal_width     species
146          6.3         2.5          5.0         1.9   virginica
147          6.5         3.0          5.2         2.0   virginica
148          6.2         3.4          5.4         2.3   virginica
149          5.9         3.0          5.1         1.8   virginica
150            1           2            3           4  versicolor

In [37]:
# iris.append(new_row, ignore_index=True)
new_iris = pd.concat([iris, pd.DataFrame([[1,2,3,4,"versicolor"]], columns=iris.columns)], ignore_index=True)
new_iris.tail()

     sepal_length  sepal_width  petal_length  petal_width     species
146           6.3          2.5           5.0          1.9   virginica
147           6.5          3.0           5.2          2.0   virginica
148           6.2          3.4           5.4          2.3   virginica
149           5.9          3.0           5.1          1.8   virginica
150           1.0          2.0           3.0          4.0  versicolor